/* Estilos básicos */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 20px;
    color: #007bff;
}

/* Mensagens de sucesso e erro */
.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="url"],
form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

form textarea {
    height: 100px;
}

/* Botões */
button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a.button {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

a.button:hover {
    background-color: #5a6268;
}

/* Imagens de prévia */
.preview-image {
    width: 200px; /* Define a largura fixa */
    height: 150px; /* Define a altura fixa */
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho sem distorção */
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 10px;
    display: block;
}
