* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif
}

body {
    background: #be1a1a;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh
}

 .header {
     margin-bottom: 10px;
     /* Diminuir a margem inferior para mover tudo mais para cima */
 }

 .link-block {
     text-decoration: none;
     color: inherit;
 }

 .block {
     width: 100%;
     max-width: 300px;
     height: 130px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 10px;
     /* Ajusta a margem superior para posicionar mais acima */
     margin-bottom: 10px;
     /* Ajusta a margem inferior para evitar muito espaço */
     margin-left: 0;
     /* Remove a margem esquerda para alinhar os blocos mais à esquerda */
     border-radius: 15px;
     padding-left: 10px;
     /* Adiciona padding à esquerda para o conteúdo interno */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transition: transform 0.3s ease, background-color 0.3s ease;
 }

 .block:hover {
     background-color: #e9ecef;
     transform: scale(1.05);
 }

 .bg-primary {
     background-color: #007bff !important;
 }

 .bg-secondary {
     background-color: #6c757d !important;
 }

 .text-white {
     color: #fff !important;
 }

 /************
 config-system*/

 .container {
    max-width: 900px;
    margin-top: 30px;
}
.header {
    margin-bottom: 20px;
}
.btn-voltar {
    margin-bottom: 20px;
}
.form-section {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}
.form-section h5 {
    margin-bottom: 15px;
}
.form-section .btn-salvar {
    margin-top: 20px;
}