/* Dark Mode Styles */
body.dark-mode {
    background: #121212;
    color: #e0e0e0;
}

body.dark-mode .container-telaConfig {
    background: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode .header {
    background: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode .block {
    background: #2c2c2c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 1px #e0a225;
}

body.dark-mode .block:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
}

body.dark-mode .config-area h2 {
    color: #e0e0e0;
}

body.dark-mode .botao-salvar button,
body.dark-mode .custom-file-upload {
    background-color: #4b4b4b;
    color: #e0e0e0;
}

body.dark-mode .custom-file-upload:hover,
body.dark-mode .botao-salvar button:hover {
    background-color: #6b6b6b;
}

body.dark-mode .container-system {
    background: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode .container-system h1 {
    border-bottom: 2px solid #333;
}

body.dark-mode .config-section h2 {
    color: #e0e0e0;
}

body.dark-mode .config-section label {
    color: #e0e0e0;
}

body.dark-mode .config-section input[type="checkbox"] {
    accent-color: #007bff; /* Personaliza a cor da marca do checkbox */
}

body.dark-mode .config-section select,
body.dark-mode .config-section input[type="text"] {
    background: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}
