/* Estilo do menu lateral para celular */
.menu-lateral {
    position: fixed;
    top: 0;
    right: -250px; /* Inicialmente oculta o menu fora da tela */
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para a esquerda */
    transition: right 0.3s ease; /* Transição para a direita */
    z-index: 2000;
    overflow-y: auto;
    padding-top: 30px; /* Espaço no topo para a seta de fechamento */
    padding-right: 20px; /* Espaço à direita dos itens */
}

.menu-lateral.open {
    right: 0; /* Mostra o menu quando a classe .open é adicionada */
}

.menu-lateral ul {
    list-style: none;
    padding: 0; /* Remove padding padrão */
    margin: 0; /* Remove margem padrão */
    text-align: right; /* Alinha os itens à direita */
}

.menu-lateral ul li {
    margin-bottom: 15px;
    display: flex; /* Alinha o conteúdo do menu */
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: flex-end; /* Alinha os itens à direita */
}

.menu-lateral ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center; /* Alinha verticalmente o texto e o ícone */
}

/* Estilo para o item do perfil do usuário */
.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px; /* Espaço abaixo da foto e do texto */
    border-bottom: 1px solid #ddd; /* Linha fraca abaixo do perfil */
    justify-content: flex-end; /* Alinha o perfil à direita */
}

.user-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-profile-text {
    font-size: 18px;
    color: #333;
    margin-right: 8px;
}

/* Estilos do overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-overlay.open {
    display: block;
    opacity: 1;
}

/* Estilo do ícone de fechamento */
.menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(255, 166, 0); /* Cor da seta */
    cursor: pointer;
    margin: 10px;
    position: absolute;
    left: 10px; /* Ajuste a posição da seta conforme necessário */
}

/* Ajustes para o menu no dispositivo móvel */
@media (max-width: 768px) {
    .menu {
        display: none; /* Oculta o menu de computador em telas menores */
    }

    .menu-lateral {
        display: block; /* Exibe o menu lateral em telas menores */
    }

    .login-icon {
        width: 30px;
        height: 30px;
    }

    .login-text {
        font-size: 16px;
    }
}
