/* Cabeçalho */
.header {
    width: 100%;
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: space-between; /* Distribui espaço entre itens */
    background-color: #333; /* Cor de fundo moderna */
    color: #fff;
    padding: 15px 25px; /* Padding para um visual espaçoso */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

/* Ajuste para o botão sair */
.header form {
    margin: 0;
}

.exit-button {
    font-size: 16px;
    background-color: #ff0000; /* Cor do botão */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.exit-button:hover {
    background-color: #fff;
    color: #ff0000;
}


/* Painel de controle */
.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 130px; /* Espaço adicional acima dos cards */
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais profunda para destaque */
    cursor: pointer;
    flex: 1 1 calc(33.333% - 20px); /* Ajuste da largura para três cards por linha */
    text-align: center;
    border-radius: 10px; /* Bordas mais suaves */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.card h2 {
    margin-top: 0;
    color: #333; /* Cor do texto mais escura */
}

.card p {
    color: #666; /* Cor do texto mais suave */
}

.card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumento da sombra para um destaque maior */
}

/* Responsividade */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin: 10px 0;
    }
}
