body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.search-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.search-section form {
    display: flex;
}

.search-section input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1rem;
}

.search-section button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #555;
}

.search-section a {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    line-height: 2rem;
    transition: background-color 0.3s ease;
}

.search-section a:hover {
    background-color: #555;
}

#status-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #f0f0f0;
}

.status-column {
    width: 30%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-column h2 {
    text-align: center;
    background-color: #eee;
    padding: 0.5rem;
    border-radius: 4px;
}

#recebido {
    border-top: 4px solid #3498db;
}

#preparando {
    border-top: 4px solid #f39c12;
}

#entrega {
    border-top: 4px solid #2ecc71;
}

.sortable {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: flex; /* Use flexbox to position the items */
    align-items: center; /* Align items vertically */
}

.card .status-bolinha {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.status-recebido {
    background-color: #3498db; /* Azul para Recebido */
}

.status-preparando {
    background-color: #f39c12; /* Laranja para Preparando */
}

.status-entrega {
    background-color: #2ecc71; /* Verde para Entrega */
}

.card {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.dragging {
    opacity: 0.5;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    animation: fadeIn 0.5s; /* Fade-in animation */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content {
    background-color: #fff;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Could be more or less, depending on screen size */
    animation: slideIn 0.4s; /* Slide-in animation */
}

@keyframes slideIn {
    from { transform: translateY(-50px); }
    to { transform: translateY(0); }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.order-details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 10px;
}

.column p {
    margin: 10px 0;
}

.column strong {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
