body.dark-mode {
    background-color: rgb(9, 9, 10);
    color: #e0e0e0;
    font-family: 'Lato', sans-serif;
}

/*************************
Tela Menu*/

/*load de hamburguer*/
.dark-mode .loader {
    background-color: #000;
}

/* Estilo para o cabeçalho */
.dark-mode .header {
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
}

.dark-mode .header a {
    color: #e0e0e0;
}

.dark-mode .container {
    background: rgb(9, 9, 10);
}

.dark-mode .header a:hover {
    color: #ffffff;
}

/* Estilo para os itens do menu */
.dark-mode .pizza-item {
    background-color: rgb(18, 18, 20);
    border: 1px solid #333;
}

.dark-mode .pizza-item--img img {
    filter: brightness(0.9);
}

.dark-mode .pizza-item--add {
    background-color: #fab427;
    color: #e0e0e0;
}

.dark-mode .show {
    background-color: rgb(9, 9, 10);
}

.dark-mode .pizza-item--price {
    color: #ffffff;
}

.dark-mode .pizza-item--name,
.dark-mode .pizza-item--desc {
    color: #e0e0e0;
}

/* Estilo para o modal */
.dark-mode .pizzaWindowArea,
.dark-mode .pizzaWindowBody {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.dark-mode .pizzaWindowBody .pizzaBig img {
    filter: brightness(0.9);
}

.dark-mode .pizzaInfo--actualPrice {
    color: #ffffff;
}

.dark-mode #adicionaisModal h4 {
    color: #fff;
}

/* Estilo para a área do carrinho */

.dark-mode .cart--area{
    background-color: rgb rgb(18, 18, 20);
}
.dark-mode .pizzaInfo--qtarea,
.dark-mode .cart--item--qtarea {
    background-color: #2a2a2a;
    border-radius: 20px;
}

.dark-mode .pizzaInfo--qt,
.dark-mode .cart--item--qt {
    background-color: #2a2a2a;
    color: #fff;
}

.dark-mode .pizzaInfo--qtarea button,
.dark-mode .cart--item--qtarea button {
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 10px;
}



.dark-mode .cart--item-nome,
.dark-mode .cart--totalitem span,
.dark-mode .cart--finalizar {
    color: #ffffff;
}

.dark-mode .cart--finalizar {
    background-color: #e0a225;
}

/* Estilo para os formulários e inputs */
.dark-mode textarea,
.dark-mode select,
.dark-mode input {
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #444;
}

.dark-mode textarea::placeholder,
.dark-mode input::placeholder {
    color: #777;
}

/* Estilo para botões e ícones */
.dark-mode .menu-closer i,
.dark-mode .pizzaInfo--cancelMobileButton i,
.dark-mode .success-img {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.dark-mode button:hover,
.dark-mode .menu-closer i:hover,
.dark-mode .pizzaInfo--cancelMobileButton i:hover,
.dark-mode .success-img:hover {
    background-color: #555;
}

.dark-mode footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

/********************************
Tela Index*/

/* Estilo para a área principal da página inicial */
.dark-mode .home {
    background-color: rgb(9, 9, 10);
    color: #e0e0e0;
}

.dark-mode .home-area {
    background-color: rgb(9, 9, 10);
    color: #e0e0e0;
}

/* Estilo para a seção à esquerda na página inicial */
.dark-mode .left-home .left-area {
    padding: 20px;
}

.dark-mode .left-text1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fab427;
    margin-bottom: 10px;
}

.dark-mode .left-text2 {
    font-size: 1.8rem;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.dark-mode .left-text3 {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #c0c0c0;
    margin-bottom: 30px;
}

/* Estilo para o botão de pedido */
.dark-mode .left-home .button {
    display: inline-block;
    background-color: #fab427;
    color: #2b2b2b;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.dark-mode .left-home .button:hover {
    background-color: #ffd65e;
    color: rgb(9, 9, 10);
}

/* Estilo para o rodapé */
.dark-mode footer {
    background-color: rgb(9, 9, 10);
    color: #e0e0e0;
}

.dark-mode footer a {
    color: #fab427;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dark-mode footer a:hover {
    color: #ffd65e;
}

/********************************
Tela Meus-Pedidos*/

.dark-mode h1,
.dark-mode .order-card h2 {
    color: rgb(226 226 226)
}

.dark-mode .order-card p,
.dark-mode .status-labels span {
    color: #ffffff;
}

.dark-mode .menu-area,
.dark-mode .status-bar {
    background-color: rgb(18, 18, 20);
}

.dark-mode .profile-menu {
    background-color: rgb(18, 18, 20);
}

.dark-mode .content {
    background-color: rgb(18, 18, 20);
    color: rgb(226 226 226);
}

.dark-mode .order-card {
    background-color: rgb(18, 18, 20);
    border: 1px solid rgb(18, 18, 20);
    
}

.dark-mode .order-items{
    background-color: rgb(18, 18, 20);
}


rgb(18, 18, 20)