body.dark-mode {
    --background-color: #121212; /* Cor de fundo principal para o modo escuro */
    --default-color: #e0e0e0; /* Cor padrão para textos no modo escuro */
    --heading-color: #ffffff; /* Cor dos títulos no modo escuro */
    --accent-color: #bb86fc; /* Cor de destaque para o modo escuro */
    --surface-color: #1f1f1f; /* Cor de fundo para superfícies no modo escuro */
    --contrast-color: #ffffff; /* Cor de contraste para textos e elementos no modo escuro */
  
    --nav-color: rgba(255, 255, 255, 0.8); /* Cor do texto do menu de navegação no modo escuro */
    --nav-hover-color: #bb86fc; /* Cor do texto do menu de navegação ao passar o mouse no modo escuro */
    --nav-mobile-background-color: #121212; /* Cor de fundo para o menu móvel no modo escuro */
    --nav-dropdown-background-color: #1f1f1f; /* Cor de fundo para dropdowns no modo escuro */
    --nav-dropdown-color: #e0e0e0; /* Cor dos textos nos dropdowns no modo escuro */
    --nav-dropdown-hover-color: #03dac6; /* Cor do texto ao passar o mouse nos dropdowns no modo escuro */
  }
  
  .dark-mode .hero {
    background-color: rgb(18, 18, 20);
    background-size: cover;
  }
  
  body.dark-mode .php-email-form .error-message {
    background: #cf6679;
  }
  
  body.dark-mode .php-email-form .sent-message {
    background: #03dac6;
  }
  
  body.dark-mode .footer {
    background-color: var(--background-color);
  }
  
  body.dark-mode .footer .social-links a {
    color: var(--default-color);
    border-color: var(--default-color);
  }
  
  body.dark-mode .footer .social-links a:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  
  body.dark-mode .contact .info-item i {
    color: var(--contrast-color);
    background: var(--accent-color);
  }
  
  /* Outros estilos específicos do modo escuro podem ser adicionados aqui */
  